@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Outfit';
    src: url('/Outfit-VariableFont_wght.ttf') format('truetype');
  }
  

body{
    background-color: #151515;
    font-family: 'Outfit', sans-serif;
}

.marquee {
  mask-image: linear-gradient(to right, transparent,white 10%, white 90%, transparent);
  mask-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(to right, transparent,white 10%, white 90%,transparent);
  -webkit-mask-repeat: no-repeat;
}